:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", "monospace", italic;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 0, 51; /* Bleu violet */
  --background-end-rgb: 0, 0, 0; /* Noir */

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 0, 51; /* Bleu violet */
    --background-end-rgb: 0, 0, 0; /* Noir */

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.button {
  background-color: black; /* Couleur de fond noire */
  border: 2px solid white; /* Bordure blanche de 2 pixels */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espace à l'intérieur du bouton, réduit */
  text-align: center; /* Centré horizontalement */
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Taille du texte, réduite */
  margin: 8px 4px; /* Marge extérieure */
  cursor: pointer; /* Curseur de la souris */
  border-radius: 8px; /* Bordure arrondie, légèrement réduite */
  position: fixed; /* Position fixe par rapport à la fenêtre du navigateur */
  bottom: 20px; /* Distance par rapport au bas de la fenêtre */
  left: 50%; 
  transform: translateX(-50%); /* Centrer le bouton horizontalement */
}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
 
.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #ffffff;
}
 
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
 
.chatbox {
  width: 350px;
  height: 400px;
  border: 1px solid #444;
  padding: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  background-color: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
 
.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
 
.message.user {
  text-align: right;
  background-color: rgba(54, 54, 54, 0.8);
  color: #ddd;
}
 
.message.bot {
  text-align: left;
  background-color: rgba(45, 45, 45, 0.8);
  color: #ccc;
}
 
.chat-input {
  width: 250px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: rgba(34, 34, 34, 0.9);
  color: #ddd;
}
 
.send-button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1e3c72;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
 
.send-button:hover {
  background-color: #2a5298;
}
 